@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    html, body {
        overflow-y: hidden;
    }
    .col-md-3 button{
        font-size: 22px;
    }
    .col {
        position: absolute ;
        left: 380px;
    }
    .profile-network {
        position: static;
        margin-left: 100px;
    }
    .profile-network a{
        font-size: 22px;
    }
    nav.navbar {
        position: absolute;
        left: 0px;
    }
    .nav-item {
        display: inline-block;
    }
    .nav-item a {
        margin-top: 5px ;
        font-size: 18px ;
    }
    
    .portfolio>div{
        position: absolute ;
        top: 200px ;
        width: 350px ;
        left: 0px;
    }
    .skills-imgs {
        position: relative;
        top: 400px;
    }

  }