html,
body {

    background-image: url(cv\ bg2.png);
    background-repeat: repeat;
    overflow-x: hidden;
    font-family: 'JetBrains Mono';
    
}

/* #personal-info::after{
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    border: 1px solid rgb(129, 73, 0);
    top: 0;
    left: 100px;
} */
@keyframes color-fadein {
    from {}
    to {color: aliceblue}
}
@keyframes img-fadein {
    from {opacity: 0.1}
    to { opacity: 1}
}

.profile-img {
    animation: img-fadein 3s forwards !important;
}

.nav-item{
    font-size: 24px !important;
}

.portfolio > div {
    padding: 20px;
    animation: color-fadein 3s forwards;
    width: 900px;
    position: absolute;
    top: 200px;
    left: 400px;
}
.portfolio small {
    font-size: 13px;
}
#profile-info-wrapper{
    
    border-right: 1px solid rgb(129, 73, 0);
    height: 100%;
    position: absolute;
    z-index: 999;
    background-color: rgba(20, 20, 20, 0.6);
    

}
.profile-img img {
    height: 22vh;
    width: 22vh;
    border-radius: 50%;
}

.profile-contact {
    padding: 10px;
    color: aliceblue;
    box-sizing: border-box;
    
}
.profile-network {
    position: absolute;
    bottom: 10px;
    margin-left: 50px;
}
.profile-network a {
    font-size: 30px;
    text-decoration: none;
    color: aliceblue;
    opacity: .6;
    margin-left: 20px;
}
.profile-network a:hover {
    opacity: 1;
    transition: opacity .5s;
}
#name {
    font-size: 24px;
}
#title {
    font-size: 20px;
}
.profile-title *{
    text-align: center;
    text-align-last: center;
    margin-top: 10px;
}
.skills img {
    animation: img-fadein 3s forwards !important;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 30px;
    margin-top: 20px;
}